* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#App {
    display: flex;
    min-height: 100vh;
    min-width: 1100px;
}

.content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

