* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.lock {
    overflow: hidden;
}

#App {
    position: relative;
    display: flex;
    min-height: 100vh;
    min-width: 1100px;
}

.content {
    display: flex;
    justify-content: center;
    overflow: auto;
}

